body {
	background-image: url("images/openroad.jpg");
	background-size: cover;
	margin: 150px, 0, 150px,30px;
}
.navbar-header {
	background-color: black;
	color: white;
}

.navbarBottom {
	background-color: black;
	color: white;
}

h1 {
	
	font-family: open sans;
	font-size: 50px;
	color: navy;
	min-height: 150px;
	padding:150px, 0, 150px,30px;
}

p {
	padding: 150px, 0, 150px,30px;
}

.bg {
	width: 100%;
	z-index: 0;
	background-size: cover;
	
}

.mainHeader{
	text-align: center;
	color: rgba(255, 255, 255, 1);
	size: 50px;
	width: 100%;
	position: absolute;
	padding-top: 70px;
	top: 10px;
	letter-spacing: 0.3em;
	font-family: sans-serif;
}

.ClickMe {
	text-align: center;
}

.info {
	min-height: 600px;
	background-color: transparent;
	background-size: cover;
	background-attachment: fixed;
}
.txtNew {
	font-family: normal normal normal 18px/1.1em raleway, sans-serif;
	color: rgb(75 79 79);
	text-align: center;
}


.btn {
	background-color: black;
	color: white;
	margin-bottom: 100px;

}

#social-buttons button {
	color: white;
	}

.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
	}
.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
	}

.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
	}

.jumbotron {
	min-height: 600px;
	background-image: url('images/fruit-and-veg.jpg');
	background-size: cover;
	background-attachment: fixed;
	}

.dest-image {
	width:200px;
	height:200px;
	shape-outside: circle();

}


