.formbackground {
	background-image: url("/Images/whereto.jpg");
	background-size: cover;
	
}

form {
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 100px;
	font-family: open sans;
	font-size: 14px;
	color: navy;
}

h1 {
	padding-left: 50px;
	padding-top: 150px;
	font-family: open sans;
	font-size: 22px;
}

p {
	padding-left: 50px;
	font-family: open sans;
	color: navy;
	font-size: 14px;
}

.navbar-header {
	background-color: black;
	color: white;
}

.navbarBottom {
	background-color: black;
	color: white;
}

.h1 {
	padding-top: 70px;
	font-family: open sans;
	font-size: 50px;
	color: navy;
	min-height: 600px;
}


.mainHeader{
	text-align: center;
	color: rgba(255, 255, 255, 1);
	size: 50px;
	width: 100%;
	position: absolute;
	padding-top: 70px;
	top: 10px;
	letter-spacing: 0.3em;
	font-family: sans-serif;
}

.ClickMe {
	text-align: center;
}

.info {
	min-height: 600px;
	background-color: transparent;
	background-size: cover;
	background-attachment: fixed;
}
.txtNew {
	font-family: normal normal normal 18px/1.1em raleway, sans-serif;
	color: rgb(75 79 79);
	text-align: center;
}


.btn {
	background-color: black;
	color: white;
	padding-bottom: 300px;

}

.submit-button {
	background-color: black;
	color: white;
}