nav {
	background-color: aliceblue;
	color: seashell;
}

nav.li {
	color: seashell;
}

h1 {
	padding-top: 70px;
	font-family: open sans;
	font-size: 50px;
	color: navy;
}

img {
	align-content: center;
}

function randomlinks () {
	var myrandom=Math.round (Math.random ()*)
	var links=new array ()
		links[1]="http://www.visitbergen.no"
		links[2]="https://www.nycgo.com/"
		links[3]="https://www.visitlondon.com/"
		links[4]="www.turismoroma.it/?lang=en"

		window.location=links[myrandom]

}

.bg {
	width: 100%;
  	z-index: 0;
  	background-size: cover;
  	

}

.hotspotHeader {
	text-align: center;
	color: rgba(200 0 0 1);
	size: 50px; 
	width: 100%; 
	position: absolute; 
	top: 200px;
	letter-spacing:0.3em;
	font-family:avenir-lt-w01_85-heavy1475544,sans-serif;
}