nav {
	background-color: aliceblue;
	color: seashell;
}

nav.li {
	color: seashell;
}

h1 {
	padding-top: 0px;
	font-family: open sans;
	font-size: 50px;
	color: white;
}

img {
	align-content: center;
}

.bg {
	width: 100%;
  	z-index: 0;
  	background-size: cover;
  	padding-top: 50px;
  	height:100%;
	background-color: rgb(169, 198, 206);

  }

.hotspotHeader {
	text-align: center;
	color: rgb(3, 1, 48);
	size: 50px; 
	width: 100%; 
	position: absolute; 
	top: 50px;
	letter-spacing:0.3em;
	font-family:avenir-lt-w01_85-heavy1475544,sans-serif;

}
.navbar-light {
	background-color: black;
	color: black;
	align-content: center
}

.lonesome {
	width: 200px;
	position: absolute;
	top: 0px;
}

.navbar-bg {
	background-color: rgba(255,255,255,0);
}

.btn.default {
	object-position: relative;
	padding-bottom: 200px;
}

.navbar.navbar-inverse.navbar-fixed-bottom.navbar-light.navbar-bg {
	color: white;
	border-style: none;
	background-color: black;
}

.navbar.navbar-inverse.navbar-fixed-top.navbar-bg {
	color: white;
	border-style: none;
	background-color: black;

}

p {
	padding: 40px, 0px;
	text-align: center;
	color: rgb(9, 37, 81);
}

#randomdestination {
	padding: 100px, 0px;
	color: rgb(9, 37, 81);
}

.hotspot_sub {
	text-align: center;
	color: rgb(3, 1, 48);
	size: 50px; 
	width: 100%; 
	top: 200px;
	letter-spacing:0.3em;
	font-family:avenir-lt-w01_85-heavy1475544,sans-serif;
	position: absolute;
}

