nav {
	background-color: aliceblue;
	color: seashell;
}

nav.li {
	color: seashell;
}

h1 {
	padding-top: 70px;
	font-family: open sans;
	font-size: 50px;
	color: navy;
}

img {
	align-content: center;
}

function randomlinks () {
	var myrandom=Math.round (Math.random ()*)
	var links=new array ()
		links[1]="http://www.visitbergen.no"
		links[2]="https://www.nycgo.com/"
		links[3]="https://www.visitlondon.com/"
		links[4]="www.turismoroma.it/?lang=en"

		window.location=links[myrandom]

}

.bg {
	width: 100%;
  	z-index: 0;
  	background-size: cover;

}