body {
	background-image: url("images/openroad.jpg");
	background-size: cover;
}
.navbar-header {
	background-color: black;
	color: white;
}

.navbar-light {
	background-color: transparent;
	color: black;
	align-content: center
}

.navbar-brand {
	text-align: center;
}

.h1 {
	padding-top: 70px;
	font-family: open sans;
	font-size: 50px;
	color: navy;
	min-height: 600px;
}

.bg {
	width: 100%;
	z-index: 0;
	background-size: cover;
	
}

.mainHeader{
	text-align: center;
	color: rgba(255, 255, 255, 1);
	size: 50px;
	width: 100%;
	position: absolute;
	padding-top: 70px;
	top: 10px;
	letter-spacing: 0.3em;
	font-family: sans-serif;
}


.info {
	min-height: 600px;
	background-color: transparent;
	background-size: cover;
	background-attachment: fixed;
}
.txtNew {
	font-family: normal normal normal 18px/1.1em raleway, sans-serif;
	color: rgb(75 79 79);
	text-align: center;
}

.lonesome {
	width: 200px;
	position: absolute;
	top: 0px;
}

.btn {
	background-color: black;
	color: white;
	margin-bottom: 100px;

}
