body {
	background-image: url("images/openroad.jpg");
	background-size: cover;
}
.navbar-header {
	background-color: black;
	color: white;
}
.navbar-bottom {
	background-color: transparent;
	text-align: center;
	align-content: center;
	color: black;
}

.question {
	min-height: 600px;
	background-image: url("images/openroad.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
	color: white;
}

.info {
	min-height: 600px;
	background-color: transparent;
	background-size: cover;
	background-attachment: fixed;
}

.btn {
	background-color: black;
	color: white;
	margin-bottom: 100px;

}
